:root {
  --page-bg: #dbdbdb;
  --dark: #111111;
  --light: #ffffff;
}

@font-face {
  font-family: "plasmatic";
  src: url("../fonts/plasmatic/regular.ttf");
}

* {
  cursor: default;
}

::selection {
  background-color: var(--dark);
  color: var(--light);
}

body {
  background-color: var(--page-bg);
}

h1 {
  color: var(--dark);
  width: fit-content;
  margin: 0 auto;
  text-align: center;
  font-size: 3rem;
  text-transform: uppercase;
  font-family: "plasmatic";
}

.hidden {
  display: none;
}